<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/chetan bhagat/IdeaProjects/Selenium_Automation_On_BookSwagon_Application">
        <classes>
            <class name="com.bridgelabz.test.BooksWagonTest">
                <methods>
                    <include name="redirectOnToTheSignUp"/>
                    <include name="insertTheDataIntoTheRegistrationForm"/>
                    <include name="loginToBookSWagon"/>
                    <include name="searchBookInBooksWagon"/>
                    <include name="addBookInToTheWishlist"/><include name="performLogOutOperation"/>
                    <include name="InBooksWagonOrderBook"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>